.carusel
    .carusel__item(data-slick='{"slidesToShow": 4, "slidesToScroll": 4}')
        .carusel__text
            H3 Love photography and try to learn something new everyday. I believe in the power of visuals.
        .carusel__text
            H3 Love photography and try to learn something new everyday. I believe in the power of visuals.
        .carusel__text
            H3 Love photography and try to learn something new everyday. I believe in the power of visuals.
        .carusel__text
            H3 Love photography and try to learn something new everyday. I believe in the power of visuals.
