footer.footer
  .container
    .circle
    .footer__title Follow me
    .footer__icon
      img(src="../../images/iconc_contact/Facebook.png")
    .footer__icon
      img(src="../../images/iconc_contact/Instagram.png")