header.header
    .container
        .row
            -let classes = ['header__logo', 'col-md-2', 'offset-md-1']
            div(class=classes)
                span.header__logo-text Eliseyskaya M.
            .navbar(class=['col-md-5'])
                include nav
