section.services
    
    .container
        .title SERVICES
        ul.services__list
            li.services__item
                .icon.icon-famely
                h3.services__item-header Family
                p.services__item__description The greatest value in this world is family. On cold evenings you can remember the hot weekday young family.
            li.services__item
                .icon.icon-weddings
                h3.services__item-header Weddings
                p.services__item__description Each wedding is the creation of a new family, for this I will find the most important moments for you.
            li.services__item
                .ico.icon-portraits
                h3.services__item-header Portraits 
                p.services__item__description Сhoose a style for a personal photo session, taking into account the studios and your style.
            li.services__item
                .ico.icon-pregnancy
                h3.services__item-header Pregnancy
                p.services__item__description This is the most wonderful period for a girl, the opportunity to give life to a new person and a memory for the family.          

        