section.works
  .works__inner
    .container
      .title(class='title_white') MY WORKS
      .works__block
        .works__block__item
          img.works__block__image(src="../../images/works/1.jpg")
          button.works__block__btn Show more
        .works__block__item
          img.works__image(src="../../images/works/2.jpg")
          button.works__block__btn Show more
        .works__block__item
          img.works__block__image(src="../../images/works/3.jpg")
          button.works__block__btn Show more   
    .works__bottom
